<% if flash[:alert] %>
<div class="alert">
	<a class="close" data-dismiss="alert">×</a>
	<strong>Warning!</strong> <%= flash[:alert] %>
</div>
<% elsif flash[:notice] %>
<div class="alert alert-info">
	<a class="close" data-dismiss="alert">×</a>
	<%= flash[:notice] %>
</div>
<% end %>
<% if @list.expires %>
    <% if @list.expiry_date <= Time.now %>
        <div class="alert alert-warning">
        	This list has expired
        </div>
    <% else %>
        <div class="alert alert-warning">
        	This list will expire in <span id="countdown"></span>
        </div>
    <% end %>
<% end %>

<% @items.each do |item| %>
<div class="row">
	<div class="span1" style="text-align:center">
		<%= link_to voteup_list_item_path(@list, item) do %>
			<i class="icon-chevron-up"></i>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span1" style="text-align:center">
		<h3><%= item.votes %></h3>
	</div>
	<div class="span11">
		<h3><%= link_to item.name, list_item_path(@list, item) %></h3>
	</div>
     </tr>
</div>
<div class="row">
	<div class="span1" style="text-align:center">
		<%= link_to votedown_list_item_path(@list, item) do %>
			<i class="icon-chevron-down"></i>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="span11 offset1"><%= item.description %></div>
</div>
   <% end %>

<br/><br/>

<%= link_to 'Add new ' + @list.name, new_list_item_path(@list), :class => 'btn btn-primary' %>
